body { 
  background: url('./img/weather-background.jpg') no-repeat center center fixed; 
  background-size: cover;
  border: none;
}

h1, h2, p {
  padding: 0px;
  margin: 0px;
}

#weather-page {
  padding: 30px;
  height: 95vh;
  width: 95vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5fr 1fr;
}

.main {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#weather-icon {
  width: 100px;
}

#temp-conversion {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#search {
  background-color: transparent;
  border: 0px;
  outline: none;
  border-bottom: 3px solid gray;
  box-shadow: none;
  color:transparent;
  cursor:default;
  color: black;
  cursor: text;
}

#search:focus {
  background-color: rgba(252, 252, 252, 0.1);
}

.material-icons {
  position: relative;
  top: 10px;
}

#submit {
  background: transparent;
  border: 0;
}

.material-icons {
  cursor: pointer;
}

.sub {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-end;
}

.weather-card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 50px;
  width: 275px;
}

.weather-data {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#forecast {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
}

#time-cards {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}

#hourly-time, #days-time {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.day-card, .hour-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}