body {
  height: 100%;
  width: 100%;
  background: url('./img/weather-background.jpg') repeat center center; 
  background-size: cover;
  border: none;
  color: white;
  background-attachment: scroll;
}

h1, h2, p {
  padding: 0px;
  margin: 0px;
}

#weather-page {
  padding: 30px;
  width: 90vw;
  height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 1fr;
}

.main {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#weather-icon {
  width: 100px;
}

#temp-conversion {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#search {
  background-color: transparent;
  border: 0px;
  outline: none;
  border-bottom: 3px solid gray;
  box-shadow: none;
  color:transparent;
  cursor:default;
  color: black;
  cursor: text;
}

#search:focus {
  background-color: rgba(252, 252, 252, 0.1);
}

.material-icons {
  position: relative;
  top: 10px;
}

#submit {
  background: transparent;
  border: 0;
}

.material-icons {
  cursor: pointer;
}

.sub {
  grid-column: 3 / -1;
  grid-row: 1 / 2;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-end;
}

.weather-card {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 50px;
  width: 275px;
}

.weather-data {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#forecast {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
}

#time-manipulation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

#time-cards {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

#hourly-time, #days-time {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.day-card, .hour-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

#prev-button, #next-button {
  cursor: pointer;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  height: 25px;
  width: 25px;
  background-color: #e4e4e4;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot-active {
  background-color: white;
}

.inactive {
  visibility: hidden;
  display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
  body {
    background-size: auto;
  }

  #buttons {
    width: 80%;
    height: 80%;
  }
  .main-info {
    font-size: 85%;
  }

  #weather-page {
    padding: 5px;
    gap: 10px 0px;
  }

  .weather-card {
    width: 150px;
  }

  .weather-card > div {
    font-size: 80%;
    position: relative;
    right: 5px;
  }

  .weather-card > img {
    width: 32px;
    height: 32px;
  }
  
  #time-cards {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .day-card, .hour-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }
  
  #search {
    width: 95%;
  }
}